<h1>some html</h1>
<a href="{{ path('hello',{name:'test'}) }}">TEST LINK</a>

<hr />
<a href="{{ path('root') }}">ROOT</a> <a href="{{ path('testroute') }}">TEST ROUTE</a>

<hr />
Value : {{ value }}

<hr />
Children:<br />

<div class="test1"></div>
<div class="test2"></div>